body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
}

nav>ul {
    display: flex;

    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    display: flex;
    text-decoration: none;
    color: #474747;

}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15px 35px;
    color: white;

}

.mary {
    font-size: 45px;
    font-weight: 800;
}
.head{
    background: #FFF8F3;
    
}
.profile{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    padding: 30px 30px 30px 220px;
    align-items: center;
    /* justify-content: space-between; */
}